@import url('https://fonts.bunny.net/css?family=inter:400');
@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

/**
 * https://github.com/tailwindlabs/tailwindcss/discussions/2394
 * https://github.com/tailwindlabs/tailwindcss/pull/5732
 */
@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.element:focus {
  outline: none;
}

.handle.top-left {
  top: -8px;
  left: -8px;
  cursor: nwse-resize;
}

.handle.top-right {
  top: -8px;
  right: -8px;
  cursor: nesw-resize;
}

.handle.bottom-left {
  bottom: -8px;
  left: -8px;
  cursor: nesw-resize;
}

.handle.bottom-right {
  bottom: -8px;
  right: -8px;
  cursor: nwse-resize;
}

.handle.top-center {
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grabbing;
}

.handle.top-center::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 12px;
  @apply bg-blue-500;
}

.react-colorful {
  width: 100% !important;
}

.react-colorful__saturation {
  border-radius: 3px 3px 0 0 !important;
}

.react-colorful__saturation-pointer {
  width: 20px !important;
  height: 20px !important;
  border: 2px solid var(--gray-contrast) !important;
  box-shadow: var(--shadow-4) !important;
}

.react-colorful__hue {
  height: 20px !important;
  border-radius: 0 0 3px 3px !important;
}

.react-colorful__hue-pointer {
  width: 16px !important;
  height: 16px !important;
  border: 2px solid var(--gray-contrast) !important;
  box-shadow: var(--shadow-4) !important;
}
