@import url('https://fonts.bunny.net/css?family=inter:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * https://github.com/tailwindlabs/tailwindcss/discussions/2394
 * https://github.com/tailwindlabs/tailwindcss/pull/5732
 */
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.element:focus {
  outline: none;
}

.handle.top-left {
  top: -8px;
  left: -8px;
  cursor: nwse-resize;
}

.handle.top-right {
  top: -8px;
  right: -8px;
  cursor: nesw-resize;
}

.handle.bottom-left {
  bottom: -8px;
  left: -8px;
  cursor: nesw-resize;
}

.handle.bottom-right {
  bottom: -8px;
  right: -8px;
  cursor: nwse-resize;
}

.handle.top-center {
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grabbing;
}

.handle.top-center::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 12px;
  @apply bg-blue-500;
}
