DATABASE_URL=http://localhost:8080
DATABASE_AUTH_TOKEN=

# Create credentials at https://github.com/settings/developers
# The Homepage URL should be: http://localhost:3000
# The Authorization callback URL should be: http://localhost:3000/api/auth/github/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Create credentials at https://console.cloud.google.com/apis/credentials
# The Authorized JavaScript origins should be: http://localhost:3000
# The Authorized redirect URIs should be: http://localhost:3000/api/auth/google/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback

